<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="winder.Team">

	<insert id="insertTeam" parameterType="Team">
		<!-- insert into team(mno, state, id, tno) values
		(members_seq.nextval,#{state},#{id},#{tno}) -->
		<!-- insert into team(tno,name,content,code) values
		(team_seq.nextval,#{name,#{content},#{code})  -->
		insert into team(tno,name	,content,code) values
		(team_seq.nextval,#{name},#{content},#{code})
		
	</insert>

	<delete id="deleteTeam" parameterType="java.lang.String">
		delete team where mno=#{value}
	</delete>

	<update id="updateTeam" parameterType="Team">
		update team set
		state= #{state}, id=#{id}, tno=#{tno} where	mno=#{mno}
	</update>
	
	<select id="selectTeam" parameterType="java.lang.String"	resultType="Team">
		select tno,name,content,code from team where mno =#{value}
	</select>

	<select id="selectAllTeam" parameterType="java.lang.String" resultType="Team">
		select * from team
	</select>

</mapper>