<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="winder.Project">

	<insert id="insertProject" parameterType="Project">
		insert into project(pno, name, content, exdate, pdate, tno) values
		(project_seq.nextval,#{name},#{content}, #{exdate}, sysdate,#{tno})
	</insert>

	<delete id="deleteProject" parameterType="java.lang.Integer">
		delete project where pno=#{value}
	</delete>

	<update id="updateProject" parameterType="Project">
		<!-- update project set
		name= #{name},content=#{content} where pno=#{pno} -->
		update project set
		name=#{name},content=#{content},exdate=#{exdate} where pno=#{pno}
	</update>
	
	<select id="selectProject" parameterType="java.lang.Integer"	resultType="Project">
		select * from project where pno =#{value}
	</select>

	<select id="selectProjectList" parameterType="String" resultType="Project">
		select * from project where tno=#{tno}
	</select>
	
	<select id="selectProjectMenu" parameterType="String" resultType="project">
		select distinct p.pno, p.name from project p, members m where p.tno in 
		(select m.tno from members m where id=#{id})
	</select>

</mapper>