<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>

		<typeAlias type="kr.ac.sku.vo.MemberVO" alias="Member" />
		<typeAlias type="kr.ac.sku.vo.GuestBookVO" alias="Guest" />
	</typeAliases>

	<mappers>

		<mapper resource="kr/ac/sku/dao/memberMapper.xml" />
		<mapper resource="kr/ac/sku/dao/guestMapper.xml" />
	</mappers>

</configuration>