<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="winder.Board">

<select id="selectAllBoard" resultType="Board">
	<!-- 모든 게시물 선택. -->
	select *from board
</select>

<insert id="insertBoard" parameterType="Board">
	insert into board(bno,btitle,bcontent,bstate,bdate,id) values
	(board_seq.nextval,#{btitle},#{bcontent},#{bstate},sysdate,#{id})
</insert>

<delete id="deleteBoard" parameterType="java.lang.Integer">
	<!-- 게시물은 접속된 id(session)을 통해 삭제.  -->
	delete board where bno=#{value}
</delete>

<update id="updateBoard" parameterType="Board">
	<!-- 게시물 update은 내용,제목,상태,날짜를 수정한며, 접속한 id로 등록된 게시물만 수정.  -->
	update board set
	bcontent=#{bcontent},btitle=#{btitle},bstate=#{bstate},bdate=sysdate 
	where bno=#{bno}
</update>

</mapper>